[Desktop Entry]
Name=SimulIDE
GenericName=SimulIDE
Comment=Electronic Circuit Simulator Software
Exec=simulide %F
Icon=simulide.png
Terminal=false
Type=Application
Categories=Education;Electronics;
MimeType=application/x-simulide-circuit;
