[Desktop Entry]
Name=SimulIDE
GenericName=SimulIDE
Comment=Electronic Circuit Simulator Software
Exec=simulide
Icon=simulide.png
Terminal=false
Type=Application
Categories=Education;Electronics;
